<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>学生用户界面</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap-datetimepicker.min.css}" />

</head>
<body>
<h2 style="text-align:center;margin:50px;">修改密码成功，请重新登录！</h2>
<div style="text-align:center;margin:50px;font-size:20px"><input type="text" size="1" readonly="true" value="3" id="time" style="border:0px" />
    秒后跳转页面
</div>
<script th:src="@{js/jquery.min.js}"></script>
<script th:src="@{js/bootstrap.min.js}"></script>
<script th:src="@{js/bootstrap-datetimepicker.js}"></script>
<script th:src="@{js/locals/bootstrap-datetimepicker.fr.js}"></script>
<script th:src="@{js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{js/locals/bootstrap-datetimepicker.zh-CN.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var t = 3;
    function countDown()
    {
        var time = document.getElementById("time");
        t--;
        time.value=t;
        if (t<=0)
        {
            location.href="/index";
            clearInterval(inter);
        };
    };
    var inter = setInterval("countDown()",1000);
    /*]]>*/
</script>
</body>
</html>