<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<title>查看活动信息</title>
	<link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{css/bootstrap-datetimepicker.min.css}" />
	<style>
		th{
			text-align:center;
		}
	</style>
</head>
<body>
	<div style="width:100%;float:right;padding-right:10px;">
        <span class="pull-right"><a style="color:#000000" th:href="@{/index}">返回首页</a></span>
    </div>
	<!--巨幕组件-->
	<div class="jumbotron" style="background-color:#EFEFEF;">
		<div class="container">
			<div class="col-md-1">
			<img src="img/logo.png" th:src="@{img/logo.png}" class="pull-left" />
			</div>
			<div class="col-md-5">
			<h2 class="pull-left"><b>湘潭大学学生活动管理系统</b></h2>
			</div>
		</div>
	</div>

	<div>
		<!--搜索栏-->
		<form th:action="@{/findActivityInfo}">
			<div style="margin:20px 0 0 200px;">
				<div class="input-append date form_datetime pull-left" data-date="2013-02-21T15:25:00Z">
					活动时间:
				    <input id="startTime" size="23" type="text" th:name="beginTime1" />
				    <span class="add-on"><i class="icon-calendar glyphicon glyphicon-calendar"></i></span>
				    <span>--&nbsp;</span>				
				</div>
				<div class="input-append date form_datetime pull-left" data-date="2013-02-21T15:25:00Z">
					<input id="endTime" size="23" type="text" th:name="beginTime2" />
					    <span class="add-on"><i class="icon-calendar glyphicon glyphicon-calendar"></i></span>				    
				</div>
				<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;活动地点：</span>
				<input size="15" type="text" th:name="locale" />
			    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;活动名称：</span>
				<input size="15" type="text" th:name="activityName" />
			    <button class="glyphicon glyphicon-search" onclick="timeCheck()"></button>
			</div>
		</form>
		<!--表格内容-->
		<table class="table table-bordered" style="margin:40px 0 0 250px;width:880px">
			<thead>
				<tr>
					<th style="width:100px;">
						申请编号
					</th>

					<th style="width:250px">
						申请单位
					</th>
					<th style="width:300px">
						活动名称
					</th>
					<th style="width:200px">
						活动地点
					</th>
					<th style="width:200px">
						活动时间
					</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each= "activityList, activityListStat : ${page.getList()}">
					<th style="width:100px" th:text="${activityList.applicationID}">
						1
					</th>

					<th style="width:250px" th:text="${activityList.userName}">
						公共管理学院
					</th>
					<th style="width:300px;">
						<a href="#" style="color:#000000;" th:text="${activityList.activityName}">新生才艺大赛</a>
					</th>
					<th style="width:200px" th:text="${activityList.siteName}">
						俱乐部
					</th>
					<th style="width:300px" th:text="${activityList.beginTime}">
						2016.12.5 19:00
					</th>
				</tr>
			</tbody>
		</table>
	</div>
	<!--页码-->
	<nav style="margin:50px auto;width: 200px;height: 50px;padding-top:50px;">
		<ul class="pagination" th:if="${page.getPageCount()} != 0">
			<li th:each="i : ${#numbers.sequence(1, page.getPageCount())}">
				<a th:href="@{/findActivityInfo(pageNumber=${i})}"  th:text="${i}">1</a>
			</li>
		</ul>
	</nav>
<script src="../../code/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../../code/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script src="../../code/js/bootstrap-datetimepicker.js" th:src="@{js/bootstrap-datetimepicker.js}"></script>
<script src="../../code/js/locals/bootstrap-datetimepicker.fr.js" th:src="@{js/locals/bootstrap-datetimepicker.fr.js}"></script>
<script src="../../code/js/bootstrap-datetimepicker.min.js" th:src="@{js/bootstrap-datetimepicker.min.js}"></script>
<script th:src="@{../js/locals/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript">
	/*<![CDATA[*/

    $(".form_datetime").datetimepicker({
        format: "yyyy-MM-dd hh:ii:ss",
        autoclose: true,
        todayBtn: true,
        startDate: "2013-02-14 10:00:00",
        minuteStep: 10,
        language:  'zh-CN'
    });
    function timeCheck()
    	{
		    var startTime = document.getElementById("startTime").value;   
		    var endTime = document.getElementById("endTime").value;   
    	 	if(startTime!=""&&endTime!="")
    	 	{
			    var begin=new Array();
			    var end=new Array();
			    begin=startTime.split("-");
			    end=endTime.split("-");
			    var beginnum=begin[0]+begin[1]+begin[2];
			    var endnum=end[0]+end[1]+end[2];
	      		if(endnum<beginnum)
	      		{
	       			alert("对不起，结束时间必须大于开始时间");
	    	 		return false;         
				}  
				else 
				{   
		    		alert("通过");   
		    		return true;  
		    	} 
	      	}
	      	else if(startTime!=""&&endTime==""||startTime==""&&endTime!="")
			{
		    	alert("请填写完整日期时间")
		    }
		}

    /*]]>*/
</script> 
</body>
</html>