<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
	<title>首页111</title>
	<link rel="stylesheet" href="../code/css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
	<style>
		.carousel-inner .item{
			margin:0 auto;
			background-size:cover;
			background-position:center,center;
		}
		.carousel-control{
			font-size:100px;
		}
		#footer{
			padding:20px;
			text-align:center;
			background-color:#eee;
			border-top:1px solid #ccc;
		}
		.nav-pills{
			width:105px;
		}
		ul.nav-pills{
			top:30px;
			float: right;
		}
	</style>
</head>
<body>
	<!-- 巨幕-->
	<div class="jumbotron" style="background-color:#EFEFEF;margin:0px">
		<div class="container">
			<div class="col-md-1">
			<img th:src="@{img/logo.png}" class="pull-left" />
			</div>
			<div class="col-md-5">
			<h2 class="pull-left"><b>湘潭大学学生活动管理系统</b></h2>
			</div>
		</div>
	</div>
	<!-- 轮播器-->
	<div id="myCarousel" class="carousel slide" style="width: 100%; height: 450px;margin:0px">
		<ol class="carousel-indicators">
			<li data-target="#myCarousel" data-slide-to="0" class="active">
			</li>
			<li data-target="#myCarousel" data-slide-to="1">
			</li>
			<li data-target="#myCarousel" data-slide-to="2">
			</li>
		</ol>
		<div class="carousel-inner" style="height: 100%">
			<div class="item active" style="height: 100%">
				<a href="http://www.baidu.com" target="blank">
					<img class="img-thumbnail" th:src="'img/upload/'+${page.getList().get(0).imgName}" style="height: auto;max-height:100%;width: 100%" alt="第一张" />
					<div class="carousel-caption">
						<h3 th:text="${page.getList().get(0).activityName}">h3</h3>
					</div>
				</a>
			</div>
			<div class="item" style="height: 100%">
				<a href="http://www.sina.com" target="blank">
					<img class="img-thumbnail" th:src="'img/upload/'+${page.getList().get(1).imgName}" style="height: auto;max-height:100%;width: 100%" alt="第二张" />
					<div class="carousel-caption">
						<h3 th:text="${page.getList().get(1).activityName}">湘潭大学校园十佳歌手大赛</h3>
					</div>
				</a>
			</div>
			<div class="item" style="height: 100%">
				<a href="http://www.hao123.com" target="blank">
					<img th:src="'img/upload/'+${page.getList().get(2).imgName}" style="height: auto;max-height:100%;width: 100%" alt="第三张" />
					<div class="carousel-caption">
						<h3 th:text="${page.getList().get(2).activityName}">商学院辩论赛</h3>
					</div>
				</a>
			</div>
		</div>
		<a href="#myCarousel" data-slide="prev" class="carousel-control left" style="padding-top: 150px">&lsaquo;</a>
		<a href="#myCarousel" data-slide="next" class="carousel-control right" style="padding-top: 150px">&rsaquo;</a>
	</div>
	<br />
	<!-- 活动分类框-->
	<div  class="container" style="margin:0px; width: 100%">
		<!--第一个-->
		<div class="panel panel-default col-md-7 col-md-offset-3">
			<div class="panel-heading" style="text-align: center">
				<h3 class="glyphicon glyphicon-grain"> 活动列表</h3>    <!-- 表格标题-->
			</div>
			<ul class="list-group" style="text-align: center">
				<li class="list-group-item" th:each="siteApplicationInfoList,siteApplicationInfoListStat : ${page.getList()}">
					<a href="#" style="color:#000000;" th:text="${siteApplicationInfoList.activityName}"></a>
				</li>

			</ul>
		</div>
		<!--  右侧按钮-->
		<div class="col-md-1 col-md-offset-1">
			<ul class="nav nav-pills nav-stacked">
				<li><a th:href="@{/findActivityInfo}">查询</a></li>
				<li><a href="#"><span data-toggle="modal" data-target="#loginModal">用户登录</span></a></li>
			</ul>
			<!--用户登录框-->
			<div id="loginModal" class="modal fade" tabindex="-1">
				<div class="modal-dialog">
				    <div class="modal-content">
				    	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal">&times;</button>
				        	<h1 class="text-center text-primary">登录</h1>
				      	</div>

				      	<div class="modal-footer" style="padding:32px">
				        	<form th:action="@{/index}" class="form col-md-10 form-horizontal center-block" method="post">
					          	<div class="form-group">
					          		<label class="col-sm-4 control-label">账号</label>
					          		<div class="col-sm-8">
					           			<input type="text" class="form-control input-lg" th:name="userID" placeholder="登录账号" />
					            	</div>
					          	</div>
					          	<div class="form-group">
					          		<label class="col-sm-4 control-label">密码</label>
					          		<div class="col-sm-8">
					            		<input type="password" class="form-control input-lg" th:name="password" placeholder="登录密码" />
					            	</div>
					          	</div>

					          
					          	<div class="col-sm-3 col-md-offset-5">
					          		<label>
					          			<input type="radio" />学生组织
					          		</label>
					       	  	</div>
					       	  	<div class="col-sm-3">
					          		<label>
					          			<input type="radio" />管理员
					          		</label>
					          	</div>
					          	<div class="from-group">			          	
						          	<div class="col-sm-7 col-md-offset-4" style="padding:20px">
						            <button class="btn btn-primary btn-lg btn-block">立刻登录</button>
						           </div>
					          	</div>
				        	</form>
				    	</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div>
		<footer id="footer" class="text-muted">
			<div class="container">

				<p>版权所有 © 湘潭大学. 地址：中国湖南湘潭. 邮编：411105. webmaster@xtu.edu.cn</p>
				<p>湘ICP备05005862号 湘教QS3-200505-000059</p>
			</div>
		</footer>
	</div>
<script src="../code/js/jquery.min.js" th:src="@{js/jquery.min.js}"></script>
<script src="../code/js/bootstrap.min.js" th:src="@{js/bootstrap.min.js}"></script>
<script type="text/javascript">
	$('#myCarousel').carousel({
		interval:3000,
		pause:'hover',
		});
</script>
</body>
</html>